* {
    outline: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 980px;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background: #0055dd;
    color: white;
}

header h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
}

ul {
    width: 980px;
    margin: 0 auto;
    padding: 0;
}

ul a {
    display: inline-block;
    margin-right: 1em;
}

#content {
    width: 920px;
    min-height: 500px;
    padding: 0 30px;
}

footer {
    width: 100%;
    height: 20px;
    margin: 0 0 10px 0;
    padding: 10px 20px;
    background: #0055dd;
    color: white;
}

/* Actions */

.actions {
    margin-bottom: 1em;
}

/* Lists */

table {
    border-collapse: collapse;
    vertical-align: top;
}

table.list {
    width: 100%;
}

table.list tr td {
    border: 1px solid #999999;
}

table.list tr th {
    border: 1px solid #0055dd;
    background: #0055dd;
    color: white;
    text-align: left;
}

/* Forms */

dl {
    clear: both;
    overflow: hidden;
    margin: 0.5em 0;
}

dt {
    float: left;
    font-weight: bold;
    width: 125px;
}

dd {
    float: left;
    margin-left: 1em;
}

#operations {
    clear: both;
    margin: 1em 0 1em 75px;
}

/* Errors */

.errors {
    display: inline-block;
    border: 2px solid red;
    color: red;
    padding: 1em;
    margin-bottom: 1em;
}

.errors ul {
    margin-bottom: 0;
    padding-left: 1em;
}
